@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 100vh;
    width:100vw;
    position: relative;
    background: url('login.png') no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);
}

.close-icon {
    position: absolute;
    top: -0px;
    right: 3px;
    font-size: 32px; /* Adjust size as needed */
    color: #807e7e;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-icon:hover {
    color: #ff0000; /* Optional: Highlight on hover */
}

.wrapper {
    position: relative;
    z-index: 1;
    width: 420px;
    background: #c9c6c6;
    color: #333;
    /* border-radius: 10px; */
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    border: #000000;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 4px;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 20px;
    border-color: #000000;
    
}

.input-box input::placeholder {
    color: #000000;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #000000;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #e9e4e4;
    font-weight: 600;
}

.wrapper .btn:hover {
    background-color: #9c9696;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

